
@model Categories
@{
    ViewData["Title"] = "Delete";
}
<form method="post" class="border p-3 mt-4" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div>
        <div class="row pb-2">
            <h2 class="text-primary">Trash Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" disabled class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Trash Category</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial_name = "_ValidationScriptsPartial" />

    }
}
